<center>
  <div class="jumbotron">
    <h1>Olar, guys!</h1>
    <p>Here we should write our value proposition</p>
    <p><%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, class: 'btn btn-primary btn-lg' %></p>
  </div>
</center>