<center>
  <div class="jumbotron">
    <h1><%#= t('.welcome_to') %>olar!</h1>
    <p><%= t('.value_proposition') %></p>
    <br />
    <br />
    <p><%= link_to t('.sign_in_with', :provider => 'Facebook'), user_facebook_omniauth_authorize_path, class: 'btn btn-primary btn-lg' %></p>
  </div>
</center>
