<center>
  <div class="jumbotron">
    <h1>olar, <%= current_user.first_name ? current_user.first_name : current_user.email  %>!</h1>
    <p><%= t('.message') %></p>
    <br />
    <br />
  </div>
</center>