<footer class="footer">
  <div class="container">
    <p class="text-muted text-centered">
      <% I18n.available_locales.each do |locale| %>
        <%= link_to_unless_current t('language', :locale => locale), locale: locale.to_s %>
      <% end %>
    </p>
  </div>
</footer>